/* 실습 3 */
.lion {
  color: sienna;
}

p.lion {
  background-color: red;
}

ul > .lion {
  background-color: greenyellow;
  font-weight: bold;
}

#tiger {
  background-color: yellow;
}

li#tiger + li {
  background-color: skyblue;
}

li.lion ~ li {
  background-color: orange;
}

/* 실습 4 */
h1:hover {
  color: red;
}

a:active {
  background-color: blue;
}

input:focus {
  background-color: orange;
}

/* 실습 5 */
.stripes div:nth-child(2n + 1) {
  background-color: navy;
  color: white;
}

.stripes div:nth-child(2n) {
  background-color: yellow;
}

/* 실습 6 */
.box::before {
  content: "택시 ";
}

.box::after {
  content: " 빨리";
}

/* 실습 7 */
input[disabled] {
  background-color: red;
}

input[placeholder="이름"] {
  background-color: orange;
}

input:not([placeholder]) {
  background-color: blue;
}
