<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>쿠키 실습</title>
  </head>
  <body>
    <h1>Cookie 실습</h1>

    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">안내사항</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">안뇽 !</div>
          <div class="modal-footer">
            <input type="checkbox" id="cookie" />
            <label for="cookie">오늘 하루 보지않음</label>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              onclick="closeModal()"
            >
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const modal = new bootstrap.Modal("#staticBackdrop");
      //show(): 수동으로 모달을 엶
      console.log("popup value: ", "<%= popup %>");
      // 빈 값이면 show, 값이 있으면 no show
      if ("<%= popup %>" === "") {
        modal.show();
      }

      function closeModal() {
        console.log("close modal");
        if (document.getElementById("cookie").checked) {
          axios({
            method: "post",
            url: "/setCookie",
          }).then((res) => {
            console.log("res: ", res.data);
          });
          // console.log(true); // 체크박스 잘 되는지 확인용
        }
      }
    </script>
  </body>
</html>
