<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 수업 내용 -->
    <!-- <h1><%= title %></h1>
    <h4>GET 요청</h4>
    <form action="/getForm" method="get">
      <input type="text" placeholder="id" name="id" required />
      <input type="password" placeholder="pw" name="pw" required />
      <button type="submit">제출</button>
    </form> -->
    <!--버튼은 type 안적혀 있으면 기본 submit-->
    <!-- <hr />
    <h4>POST 요청</h4>
    <form action="/postForm" method="post">
      <input type="text" placeholder="id" name="id" readonly />
      <input
        type="password"
        placeholder="pw"
        name="pw"
        pattern="^([a-z0-9]){8,12}"
      />
      <input type="email" required /><br />
      <input type="radio" /><br />
      <input type="checkbox" /><br />
      <input type="tel:010" /><br />
      <input type="number" /><br />
      <input type="date" /><br />
      <input type="time" /><br />
      <button type="submit">제출</button>
    </form> -->

    <!-- 실습 1번 -->
    <h4>GET으로 정보받기</h4>
    <form action="/getForm" method="get">
      이름<input type="text" name="id" /> <br />
      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="sex" value="남자" />남자
        <input type="radio" name="sex" value="여자" />여자
      </fieldset>
      <fieldset>
        <legend>생년월일</legend>
        <div>
          <select name="year" id="year">
            <option value="1990">1990</option>
            <option value="1991">1991</option>
            <option value="1992">1992</option>
            <option value="1993">1993</option>
            <option value="1994">1994</option>
            <option value="1995">1995</option>
            <option value="1996">1996</option>
            <option value="1997">1997</option>
            <option value="1998">1998</option>
            <option value="1999">1999</option>
            <option value="2000">2000</option></select
          >년
          <select name="month" id="month">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option></select
          >월
          <select name="day" id="day">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option></select
          >일
        </div>
      </fieldset>
      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="like" value="여행" />여행
        <input type="checkbox" name="like" value="패션" />패션
        <input type="checkbox" name="like" value="음식" />음식
      </fieldset>
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
