<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for (let i = data; i < 10; i++) { %> <% for ( let j = 1; j<10; j++) { %>
    <p><%= i%> X <%= j%> = <%= i*j %></p>
    <% } %> <% } %>
  </body>
</html>
