<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/lava">애벌레 페이지</a>
    <a href="/fruits">과일 변경 페이지</a>
    <a href="/gugudan">구구단 페이지</a>
  </body>
</html>
