<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- ejs 문법 사용 연습 -->
    <h4><%= data %></h4>
    <!-- render에서 데이터 받기 -->

    <ul>
      <% for(var i = 0; i < 5; i++) { %>
      <li>안녕</li>
      <% } %>
    </ul>
  </body>
</html>
